<h1 class="title">Editar informações pessoais</h1>
<%= render 'form', paciente: @paciente %>
<div="container">
<button class="btn btn-danger center destroy">
  <%= link_to 'Excluir Cadastro', @paciente, method: :delete, data: { confirm: 'Você tem certeza?' } %>
</button>
</div>
