<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @paciente.nome %>
</p>

<div class="col-md-8">
    <% if @paciente.atendimentos.any? %>
      <h3>Atendimentos (<%= @paciente.atendimentos.count %>)</h3>
      <ol class="atendimentos">
        <%= render @atendimentos %>
      </ol>
    <% end %>
  </div>