<h1 class="title">Editar Informações do Hospital</h1>

<%= render 'form', hospital: @hospital %>

<%= link_to 'Show', @hospital %> 
<div class="container">
<button class="btn btn-danger center destroy">
  <%= link_to 'Excluir Cadastro', @hospital, method: :delete, data: { confirm: 'Você tem certeza?' } %>
</button>
</div>