<h1>Editing Hospital</h1>

<%= render 'form', hospital: @hospital %>

<%= link_to 'Show', @hospital %> 
<%= link_to 'Destroy', @hospital, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', root_url %>

