@import "bootstrap-sprockets";
@import "bootstrap";
/* universal */

body {
  padding-top: 60px;
  background-color: #fff;
  color: #4F4F4F;
  margin: 33px;
  font-family: Bookman Old Style, serif;;
  font-size: 16px;
  line-height: 18px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.navbar {
  height: 70px;
}
img{
  width:50px;
  height:50px;
  margin-top: 5px;
}

.nav > li > a {
  color: white;
}
.navbar-inverse .navbar-nav > li > a{
  color: white;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.btnnavbar{
  margin-top: 0px;
  height: 50px;
  text-align: center;
}

.title{
  text-align: center;
  padding-bottom: 40px;
}

.descricao{
  margin-left:140px;
}

.btn-danger{
    background-color: #d43f3a;
    color: white;
}
/* footer */

footer {
  margin-top: 35%;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

h1{
  color: #d43f3a;
}
/* padrao */


p, ol, ul, td {
  font-family: Bookman Old Style, serif;;
  font-size: 14px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 12px;
}

a {
  color: white;

  &:visited {
    color: white;
  }

  &:hover {
    color: black;
    background-color: white;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.cadastro_paciente{
  padding-top: 50px;
}