<footer class="footer">
  <small>
    código disponível em <a href="https://github.com/anacls/sistema-ps">Github</a>
    <p>feito por: Ana Carolina, Fábio Vieira, Pedro Moraes</p>
  </small>
</footer>